:root {
  --actionColor: #f50057;
  --fontFamily: "Open Sans", "Sofia", Arial, Helvetica, sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__gridActionsBarContainer {
  height: 90vh;
 
  display: flex;
}
